.ng-invalid.ng-touched {
  border-color: coral
}

.ng-invalid.ng-touched+.invalid-feedback {
  display: block;
}

.form-control+.spinner-grow {
  display: none;
}


.form-control.ng-pending+.spinner-grow {
  display: block;
}
